<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="row">
  <div class="span8">
  	

    <% if @user.microposts.any? %>
      <h3>Новости <%= @user.microposts.count %></h3>
      <h3>Понравилось <%= current_user.reputation_for(:votes).to_i %></h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>