<li id="<%= feel_item.id %>">
  <%= gravatar_for(feel_item.user) %>
  <h5><%= feel_item.user.email %></h5>
  <span class="content"><%= feel_item.title %></span>
  <span class="content"><%= wrap(feel_item.content) %></span>
  <span class="timestamp">Posted <%= time_ago_in_words(feel_item.created_at) %> ago.</span>
  <em>
     <%= pluralize feel_item.reputation_for(:votes).to_i, "like" %>
  </em>
  <% if user_signed_in? && current_user == feel_item.user %>
    <div><%= link_to "Редактирование", edit_micropost_path(feel_item) %></div>
    <div><%= link_to "Удаление", feel_item, method: :delete, data: { confirm: "Вы уверены?" } %></div>
  <% else %>
    <div><%= link_to "like", vote_micropost_path(feel_item, type: "up"), method: "post" %></div>
  <% end %>
</li>